<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>Home</title>
  </head>
  <body>
  <a href="{% url 'logout_view' %}">
    <button>Log Out</button>
  </a>
    <a href="packageform">
      <button>New Package</button>
    </a>
    <br/>
    <br/>
    <a href="packages">
      <button>Pick up package</button>
    </a>
    <br/>
    <br/>
    <a href="packages">
      <button>View Package</button>
    </a>
    <br/>
    <br/>
    <a href="residents">
      <button>View Residents</button>
    </a>
    <br/>
    <br/>
    <hr>
<!--    {% if resident_list %}-->
<!--      <ul>-->
<!--      {% for resident in resident_list %}-->
<!--          <li><a href="/mail/{{ resident.id }}/">{{ resident.name }}</a></li>-->
<!--      {% endfor %}-->
<!--      </ul>-->
<!--    {% else %}-->
<!--      <p>No residents available.</p>-->
<!--    {% endif %}-->

  </body>
</html>

