<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>Packages</title>
  </head>
  <body>
    <a href="/mail/home">
      <button>Home</button>
    </a>
    <h1>All Packages</h1>
    {% for package in pending_packages %}
        <ul>
            <li>{{ package }} ---- received: {{ package.received }}
                <form action="/mail/pickup" method="post">
                    <input type="hidden" name="package_id" value="{{ package.pk }}"/>
                    {% csrf_token %}
                    <input type="submit" class="btnbtn-primary" value="Pick up">
                </form>
            </li>
        </ul>
    {% endfor %}
    <hr/>
   {% for package in unknown_packages %}
        <ul>
            <li>{{ package }} ---- received: {{ package.received }}</li>
        </ul>
    {% endfor %}
    <hr/>
   {% for package in delivered_packages %}
        <ul>
            <li>{{ package }} ---- received: {{ package.received }}</li>
        </ul>
    {% endfor %}
  </body>
</html>

